<!DOCTYPE html>
<html ng-app='rck_app'>
<head>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">

    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/base.css">
    <link href='https://fonts.googleapis.com/css?family=Raleway:400,500,600,700' rel='stylesheet' type='text/css'>











    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<header>



    <nav class="navbar navbar-default  navbar-fixed-top" role="navigation">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="container">
            <div class="navbar-header">

                <button type="button" class="navbar-toggle" ng-init="navCollapsed = true" ng-click="navCollapsed = !navCollapsed">                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <a  class="navbar-brand" ui-sref="home"><img src="image/logo.png"></a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" ng-class="!navCollapsed && 'in'" ng-click="navCollapsed=true">
                <ul class="nav navbar-nav">
                    <li><a ui-sref="home">Home</a></li>

                    <li class="dropdown">

                        <a href ng-click="services" class="dropdown-toggle" data-toggle="dropdown">Services<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a ui-sref="racing">Racing</a></li>
                            <li><a ui-sref="shop">Shop</a></li>
                            <li><a ui-sref="trophy">trophy</a></li>



                        </ul>


                    <li class="dropdown">
                        <a href ng-click="company" class="dropdown-toggle" data-toggle="dropdown">Company<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href data-toggle="modal" data-target="#myModal3">Hours</a></li>
                            <li><a ui-sref="about">About Us</a></li>
                          





                        </ul>
                     <li><a ui-sref="schedule">Schedule</a></li>

                    <li><a href data-toggle="modal" data-target="#myModal2">Rates</a></li>
                    <li><a href data-toggle="modal" data-target="#myModal">Contact</a></li>



                </ul>


            </div>
        </div>










</nav>

        <div id="top" class="trim"></div>
</header>
<main role="main">
 <div ui-view></div>
</main>


<footer>
    <div class="container">

        <div class="col-md-12 text-center">
            <h6>&copy;copyright 2014 RC Kinetics</h6>
        </div>




        </div>






    </div>

</footer>




<!-- contact model -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Contact Us</h4>
            </div>
            <div class="modal-body">
                <div ng-controller="contactController">
                <form class="form-horizontal" role="form" data-ng-submit="addContact();
                ">
                    <div class="form-group">
                        <label for="inputName" class="col-sm-2 control-label">Name</label>
                        <div class="col-sm-10">
                            <input type="name" ng-model="name" required ng-pattern=" /^[a-zA-Z]/g"  class="form-control" id="inputName" placeholder="Name">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputEmail3" class="col-sm-2 control-label">Email</label>
                        <div class="col-sm-10">
                            <input type="email" ng-model="email" required ng-pattern="/^([a-z0-9_\.-]+)@([\da-z\.-]+)\.([a-z\.]{2,6})$/"  class="form-control" id="inputEmail3" placeholder="Email">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="Message" class="col-sm-2 control-label">Inquiry</label>
                        <div class="col-sm-10">
                            <textarea ng-model="message" required ng-pattern="/^[a-z0-9_-]{3,16}$/" class="form-control" rows="3"  id="Message" placeholder="Inquiry"></textarea>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="submit" class="btn btn-default">Submit</button>
                        </div>
                    </div>
                </form>
                </div>
                <h4 class="titlesServices">Location</h4>

                <address>
                    <strong>RC Kinetics</strong><br>
                    2739 6th Ave<br>
                    Troy NY, 12180<br>
                    <abbr title="Phone">P:</abbr> (518) 274- RACE
                    (7223).
                </address>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

            </div>






        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->








<!-- rates model -->
<div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel2" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel2">Rates</h4>
            </div>
            <div class="modal-body">
                <table class="table">
                    <tr>
                        <th>Services</th>
                        <th>Price</th>
                    </tr>


                    <tr>

                        <td>Practice</td>
                        <td>$10.00 Dollars all day.</td>


                    </tr>

                    <tr>

                        <td> Organized Racing</td>
                        <td>$10.00 Dollars for class races/$5.00 each additional class
                        and $5.00 Dollars for transponder rental.
                        </td>



                    </tr>


                    <tr>

                        <td>Parties</td>
                        <td>Rates and Values Please Call</td>


                    </tr>




                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->






<!-- hours model -->
<div class="modal fade" id="myModal3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel3" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel3">RCK Hours</h4>
            </div>
            <div class="modal-body">
                <table class="table">
                    <tr>
                        <th>Days</th>
                        <th>Hours</th>
                    </tr>

                    <tr>

                        <td>Monday</td>
                        <td><span class="closed">Closed</span></td>


                    </tr>


                    <tr>

                        <td>Tuesday</td>
                        <td><span class="closed">Closed</span></td>


                    </tr>

                    <tr>

                        <td>Wednesday</td>
                        <td><span class="opened">11am to 11pm</span></td>


                    </tr>



                    <tr>

                        <td>Thursday</td>
                        <td><span class="opened">11am to 11pm</span></td>


                    </tr>


                    <tr>

                        <td>Friday</td>
                        <td><span class="opened">11am to 11pm</span></td>


                    </tr>


                    <tr>

                        <td>Saturday</td>
                        <td><span class="opened">10am to 11pm</span></td>


                    </tr>



                    <tr>

                        <td>Sunday</td>
                        <td><span class="opened">11am to 6pm</span></td>


                    </tr>


                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.7/angular.min.js"></script>
<script src="https://cdn.firebase.com/js/client/1.0.5/firebase.js"></script>

<script src="//cdn.firebase.com/libs/angularfire/0.7.0/angularfire.min.js"></script>


<script type='text/javascript'
        src='https://cdn.firebase.com/js/simple-login/1.2.5/firebase-simple-login.js'>

</script>
<script src="js/lib/angular-animate.js"></script>
<script src="js/lib/angular-ui-router.js"></script>
<script src="js/lib/ui-bootstrap-0.10.0-min.js"></script>
<script src="js/lib/bootstrap.min.js"></script>
<script src="js/app.js"></script>
<script src="js/controllers/homeController.js"></script>
<script src="js/controllers/aboutController.js"></script>
<script src="js/controllers/racingController.js"></script>
<script src="js/controllers/shopController.js"></script>
<script src="js/controllers/compController.js"></script>

<script src="js/controllers/galleryController.js"></script>
<script src="js/controllers/scheduleController.js"></script>
<script src="js/controllers/contactController.js"></script>
<script src="js/controllers/schCtrl.js"></script>
<script src="js/controllers/auth-controller.js"></script>
<script src="js/services/schedule.js"></script>
<script src="js/services/contact.js"></script>
<script src="js/services/loginService.js"></script>

</body>
</html>
