<div class="about_page">

    <div class="mini">
        <div class="container">

            <div class="mini-hero text-center">



            </div>

        </div>


    </div>





    <div class="heroSub"></div>
    <div class="container">

        <div class="row subPages">

            <h1 id="responsive_headline">About RCK</h1>
            <div class="lines"></div>
        </div>

        <div class="row">
            <div class="col-md-12 about-us">

                <h2>About RCK</h2>

                <p>R/C Kinetics is an indoor radio controlled car racing complex, founded in 2011.
                    The doors just opened near the end of November 2013 after extensive renovations.
                    It is located in the former Collins Lumberyard Warehouse. Totaling 15,000 square
                    feet, the property is the largest racing facility in the area.</p>

                <h2>Our Goals</h2>
                <p>To provide RC enthusiast with a fun place to race against each other and test and hone their skills. We also want to promote and grow the RC hobby in the Capital Region.</p>



                <h2>What we offer</h2>
                <p>We offer 2 challenging & fun tracks to drive on indoors. We also have an on site hobby shop as well as vending machines, amenities &  handicapped assessable driver stand to facilitate your experience here. </p>

            </div>



        </div>


    </div>









</div>
