<div class="comp">
    <div class="mini">
        <div class="container">

            <div class="mini-hero text-center">



            </div>

        </div>


    </div>


</div>
<div class="heroSub"></div>
<div class="container">
    <div class="services-page">




        <div class="row subPages">

            <h1 id="responsive_headline">Trophy Races</h1>
            <div class="lines"></div>
        </div>


        <div class="row">

            <p>
                Several times during the year R/C Kinetics will be holding our yearly championship races. Check this page for info on what they are, and check our Schedule to see whats going on. We have weekly Competitions and Practice throughout the year.

            </p>
 </div>

        </div>

    </div>

</div>







<div class="comp-page">
    <div class="hero4">




    </div>

</div>




<div class="comp-page">
    <div class="details">




    </div>

</div>