<!--Jumbo-->

<div ng-controller="homeController">
<div class="container-fluid">
    <div class="jumbotron">



        <div class="container">




            <div class="headline">
                <h1 id="responsive_headline">Welcome to RC Kinetics, New York's Premier
                    Indoor Racing Facility!  </h1>
                   <a ui-sref="racing"class="btn btn-primary">Learn More</a>

            </div>














        </div><!--end container-->




    </div><!--end jumbo-->
</div>



<div class="heroSub"></div>






<div class="container">
    <div class="services">
        <div class="row">

            <h2 class="titles">Services
                <div class="lines"></div>
            </h2>


            <div class="col-md-4">

                <div class="panel panel-default">
                    <div class="panel-heading">

                        <h3 class="titlesServices">Racing</h3>

                    </div>
                    <div class="panel-body">



                        <h4>THE PLACE TO RACE</h4>
                        <p>{{ racing }}</p>






                    </div>
                    <div class="panel-footer">  <a href="#/racing">Learn More<img src="image/arrow_icon_16.png"></a></div>
                </div>

            </div>





            <div class="col-md-4">

                <div class="panel panel-default">
                    <div class="panel-heading">

                        <h3 class="titlesServices">Pro Shop</h3>

                    </div>
                    <div class="panel-body">



                        <h4>RCK Hobby Shop</h4>
                        <p>{{ pro }}</p>






                    </div>
                    <div class="panel-footer">  <a href="#/racing">Learn More<img src="image/arrow_icon_16.png"></a></div>
                </div>

            </div>








            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">

                        <h3 class="titlesServices">Events</h3>

                    </div>
                    <div class="panel-body">



                        <h4>Host Your Events</h4>
                        <p>{{ event }} </p>






                    </div>
                    <div class="panel-footer">  <a href="#/racing">Learn More<img src="image/arrow_icon_16.png"></a></div>
                </div>
            </div>




        </div><!--end row-->

    </div>











</div><!--end container-->






<!--start hobby-->
<div class="hero3">




</div>
<div class="hero4">




</div>



<!--end hobby-->



<!--staff-->








<div class="container">
    <div class="staff">
        <div class="row">
            <h2 class="titles">RCK Staff

                <div class="lines"></div>

            </h2>

            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <img src="image/alex_staff.png" alt="Alex RCK Owner">

                    <div class="caption">
                        <h3 class="text-center">Alex Kiekel</h3>
                         </div>
                </div>
            </div>




            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <img src="image/john_doe.png" alt="John Doe RCK Manager">
                    <div class="caption">
                        <h3  class="text-center">John Doe</h3>
                        </div>
                </div>
            </div>




            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <img src="image/danny.png" alt="Danny RCK Marketing">
                    <div class="caption">
                        <h3  class="text-center">Danny Mejeia</h3> </div>
                </div>
            </div>
        </div>
    </div>
</div>



<!--staff end-->




<!--hero last-->
<div class="hero_last">
    <div class="action_hero">
        <h2 class="text-center">Ready for Speed? <span>  <a href ng-click="contact_hero" data-toggle="modal" data-target="#myModal">Contact Us</a></span></h2>

    </div>
</div>
<!--hero last end-->

</div>




<!--hero last-->