<div class="mini">
    <div class="container">

        <div class="mini-hero text-center">
            <div class="headline">

            </div>

        </div>

    </div>


</div>
<div class="heroSub"></div>
<div class="container">
    <div class="services-page">




        <div class="row subPages">

            <h1 id="responsive_headline">RC Racing</h1>
            <div class="lines"></div>
        </div>


        <div class="row">



            <div class="col-md-4">

                <div class="panel panel-default">
                    <div class="panel-body">
                        <h3 class="titlesServices">On-Road Racing</h3>


                        <p> We have our circuit racing on our 90'X40' asphalt racetrack. You can run your Formula One GT SCCA & Nascar style 1/10th scale electric vehicles in our tracks.</p>






                    </div>
                </div>

            </div>






            <div class="col-md-4">

                <div class="panel panel-default">
                    <div class="panel-body">
                        <h3 class="titlesServices">Dirt Racing</h3>



                        <p> Moto-X style racing on our 90'X35' clay-dirt offroad racetrack. You can race your 1/10th scale Buggy & ShortCourse 2WD and 4WD on our course.</p>






                    </div>
                </div>

            </div>





            <div class="col-md-4">

                <div class="panel panel-default">
                    <div class="panel-body">
                        <h3 class="titlesServices">Outdoor NITRO Racing
                        </h3>


                        <p class="text-center"> Coming soon</p>



                    </div>
                </div>

            </div>

        </div>

    </div>

</div>







<div class="services-page">
    <div class="hero4">




    </div>

</div>




<div class="services-page">
    <div class="details">




    </div>

</div>